USE [master]
GO
/****** Object:  Database [sms]    Script Date: 1.05.2022 19:45:06 ******/
CREATE DATABASE [sms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sms]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryid] [nchar](10) NOT NULL,
	[categoryname] [nvarchar](30) NULL,
	[category_did] [nchar](10) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[custID] [nchar](25) NOT NULL,
	[cust_create_date] [nchar](20) NULL,
	[custname] [nvarchar](25) NULL,
	[custphone] [nchar](15) NULL,
	[custaddress] [nvarchar](300) NULL,
	[cust_prod_id] [nchar](10) NULL,
	[cust_prod_cat_id] [nchar](10) NULL,
	[cust_prod_cost] [nchar](10) NULL,
	[cust_prod_quantity] [nchar](3) NULL,
	[cust_pay_mode] [nchar](4) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[custID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealers]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dealerid] [nchar](10) NOT NULL,
	[dealername] [nvarchar](30) NULL,
	[dealerhouseno] [nvarchar](25) NULL,
	[dealerstreetname] [nvarchar](50) NULL,
	[dealerarea] [nvarchar](25) NULL,
	[dealerlandmark] [nvarchar](50) NULL,
	[dealercity] [nvarchar](25) NULL,
	[dealerstate] [nvarchar](20) NULL,
	[dealerpincode] [nvarchar](50) NULL,
	[dealercontactno] [nvarchar](50) NULL,
	[dealerlandlineno] [nvarchar](50) NULL,
	[dealership_since] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dealers] PRIMARY KEY CLUSTERED 
(
	[dealerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cust_payID] [nchar](25) NOT NULL,
	[custID] [nchar](25) NULL,
	[date] [nchar](10) NULL,
	[cust_pay_mode] [nchar](4) NULL,
	[cust_bankname_creditcardno] [nvarchar](250) NULL,
	[cust_checkno_trnxno] [nchar](15) NULL,
	[cust_amount] [nchar](10) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[cust_payID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMode]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMode](
	[paymentID] [nchar](4) NOT NULL,
	[payment_type] [nchar](20) NULL,
 CONSTRAINT [PK_Payment Mode] PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1.05.2022 19:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prod_id] [nchar](10) NOT NULL,
	[prod_name] [nvarchar](50) NULL,
	[prod_comp_name] [nvarchar](100) NULL,
	[prod_manu_date] [nchar](20) NULL,
	[prod_manu_exp_date] [nchar](20) NULL,
	[prod_item_serial_no] [nchar](20) NULL,
	[prod_item_batch_no] [nchar](20) NULL,
	[prod_item_cost] [nchar](10) NULL,
	[prod_item_quantity] [nchar](5) NULL,
	[prod_item_categoryid] [nchar](10) NULL,
	[prod_item_dealerid] [nchar](10) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [categoryid], [categoryname], [category_did]) VALUES (13, N'          ', N'', N'0         ')
INSERT [dbo].[Category] ([id], [categoryid], [categoryname], [category_did]) VALUES (1, N'CAT1000001', N'Pharmaceutical', N'          ')
INSERT [dbo].[Category] ([id], [categoryid], [categoryname], [category_did]) VALUES (2, N'CAT1000002', N'Stationary', N'DL10002   ')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [custID], [cust_create_date], [custname], [custphone], [custaddress], [cust_prod_id], [cust_prod_cat_id], [cust_prod_cost], [cust_prod_quantity], [cust_pay_mode]) VALUES (2, N'Cust05272015234316325    ', N'5/27/2015           ', N'', N'               ', N'Door no 10,
Ramanujan Colony,
RamNagar
Musheerabad
Hyderabad
Talangana
Pin - 500001', N'prod100002', N'CAT1000006', N'27450     ', N'8  ', N'mod1')
INSERT [dbo].[Customer] ([id], [custID], [cust_create_date], [custname], [custphone], [custaddress], [cust_prod_id], [cust_prod_cat_id], [cust_prod_cost], [cust_prod_quantity], [cust_pay_mode]) VALUES (4, N'Cust06032015112432574    ', N'6/3/2015            ', N'Krrish', N'8765234598     ', N'Mumbai,
Maharastra', N'prod100002', N'CAT1000006', N'27450     ', N'20 ', N'mod1')
INSERT [dbo].[Customer] ([id], [custID], [cust_create_date], [custname], [custphone], [custaddress], [cust_prod_id], [cust_prod_cat_id], [cust_prod_cost], [cust_prod_quantity], [cust_pay_mode]) VALUES (5, N'Cust06042015120405023    ', N'6/4/2015            ', N'Kiran', N'8798432410     ', N'BTM
Banglore', N'prod100001', N'CAT1000004', N'30000     ', N'15 ', N'mod2')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Dealers] ON 

INSERT [dbo].[Dealers] ([id], [dealerid], [dealername], [dealerhouseno], [dealerstreetname], [dealerarea], [dealerlandmark], [dealercity], [dealerstate], [dealerpincode], [dealercontactno], [dealerlandlineno], [dealership_since]) VALUES (12, N'          ', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'1.05.2022')
INSERT [dbo].[Dealers] ([id], [dealerid], [dealername], [dealerhouseno], [dealerstreetname], [dealerarea], [dealerlandmark], [dealercity], [dealerstate], [dealerpincode], [dealercontactno], [dealerlandlineno], [dealership_since]) VALUES (8, N'DL1       ', N'Pasha', N'Door 1', N'machi', N'musheerabad', N'fish market', N'hyderabad', N'telangana', N'123456', N'9876543210', N'040-23452345', N'5/20/2015')
INSERT [dbo].[Dealers] ([id], [dealerid], [dealername], [dealerhouseno], [dealerstreetname], [dealerarea], [dealerlandmark], [dealercity], [dealerstate], [dealerpincode], [dealercontactno], [dealerlandlineno], [dealership_since]) VALUES (2, N'DL10001   ', N'Danush', N'Door no 10', N'Anna Nagar Colony', N'Anna Nagar', N'Beside Anna Nagar Community Hall', N'Chennai', N'TamilNadu', N'123456', N'9876543210', N'040-23452345', N'5/20/2015')
SET IDENTITY_INSERT [dbo].[Dealers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [cust_payID], [custID], [date], [cust_pay_mode], [cust_bankname_creditcardno], [cust_checkno_trnxno], [cust_amount]) VALUES (1, N'P05272015234514424       ', N'Cust05272015234316325    ', N'5/27/2015 ', N'mod1', N'', N'               ', N'219600    ')
INSERT [dbo].[Payment] ([id], [cust_payID], [custID], [date], [cust_pay_mode], [cust_bankname_creditcardno], [cust_checkno_trnxno], [cust_amount]) VALUES (2, N'P05272015234643679       ', N'Cust05272015234316325    ', N'5/27/2015 ', N'mod1', N'', N'               ', N'219600    ')
INSERT [dbo].[Payment] ([id], [cust_payID], [custID], [date], [cust_pay_mode], [cust_bankname_creditcardno], [cust_checkno_trnxno], [cust_amount]) VALUES (3, N'P06032015113628308       ', N'Cust06032015112432574    ', N'6/3/2015  ', N'mod1', N'', N'               ', N'54915379  ')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[PaymentMode] ([paymentID], [payment_type]) VALUES (N'mod1', N'Cash                ')
INSERT [dbo].[PaymentMode] ([paymentID], [payment_type]) VALUES (N'mod2', N'Check | D D         ')
INSERT [dbo].[PaymentMode] ([paymentID], [payment_type]) VALUES (N'mod3', N'Credit | Debit Card ')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [prod_id], [prod_name], [prod_comp_name], [prod_manu_date], [prod_manu_exp_date], [prod_item_serial_no], [prod_item_batch_no], [prod_item_cost], [prod_item_quantity], [prod_item_categoryid], [prod_item_dealerid]) VALUES (11, N'prod100001', N'Laptop', N'Dell', N'5/20/2014           ', N'5/20/2016           ', N'563736474841        ', N'23123               ', N'30000     ', N'120  ', N'CAT1000004', N'DL1003    ')
INSERT [dbo].[Product] ([id], [prod_id], [prod_name], [prod_comp_name], [prod_manu_date], [prod_manu_exp_date], [prod_item_serial_no], [prod_item_batch_no], [prod_item_cost], [prod_item_quantity], [prod_item_categoryid], [prod_item_dealerid]) VALUES (12, N'prod100002', N'Samsung S4', N'Samsung', N'20/04/2013          ', N'19/04/2016          ', N'87654321098         ', N'23123               ', N'27450     ', N'100  ', N'CAT1000006', N'DL1111    ')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Cust_PaymentMode] FOREIGN KEY([cust_pay_mode])
REFERENCES [dbo].[PaymentMode] ([paymentID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Cust_PaymentMode]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Category] FOREIGN KEY([cust_prod_cat_id])
REFERENCES [dbo].[Category] ([categoryid])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Category]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Customer] FOREIGN KEY([custID])
REFERENCES [dbo].[Customer] ([custID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Customer]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Product] FOREIGN KEY([cust_prod_id])
REFERENCES [dbo].[Product] ([prod_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Product]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Customer] FOREIGN KEY([custID])
REFERENCES [dbo].[Customer] ([custID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Customer]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment Mode] FOREIGN KEY([cust_pay_mode])
REFERENCES [dbo].[PaymentMode] ([paymentID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Payment Mode]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Dealers] FOREIGN KEY([prod_item_dealerid])
REFERENCES [dbo].[Dealers] ([dealerid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Dealers]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product] FOREIGN KEY([prod_id])
REFERENCES [dbo].[Product] ([prod_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product]
GO
USE [master]
GO
